/* google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');



/* default setup */
* {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* common btn */
a.custom-btn {
    font-size: 16px;
    font-weight: 700;
    background: #07B569;
    color: #fff;
    padding: 17px 30px;
    display: inline-block;
    position: relative;
}
a.custom-btn span {
    position: relative;
    z-index: 2;
    transition: all .3s ease 0s;
}
a.custom-btn:hover span {
    color: #07B569;
}
a.custom-btn::before {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    background: #fff;
    top: 0;
    right: 0;
    transition: all .3s ease 0s;
}
a.custom-btn:hover::before {
    width: 100%;
    right: auto;
    left: 0;
}


.custom-btn {
    transition: all .3s ease 0s;
}
.custom-btn.shadow:hover {
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.2);
}


/* header area start */
.header-area {
    position: absolute;
    left: 0;
    right: 0;
}
.logo h1 a {
    color: #fff;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.nav-item {
    display: flex;
}
.nav-item li {
    margin-left: 32px;
}
.nav-item li a {
    font-size: 14px;
    font-weight: 700;
    color: #fff
}
.menu-area {
    display: flex;
    align-items: center;
}
.menu-area .custom-btn {
    margin-left: 60px;
}
/* header end */


/* hero area */
.hero-text {
    background: url(../image/hero-img/hero1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 260px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text p {
    color: #fff;
    font-size: 54px;
    padding: 0 228px;
    text-align: center;
    line-height: 67px;
}
.hero-text p span {
    font-weight: 700;
}



/* about area */
.about-area {
    padding: 118px 0;
}
.about-img img {
    width: 100%;
}
.about-content {
    margin-left: 60px;
    margin-top: 26px;
    padding-right: 70px;
}
.about-content h2 {
    font-size: 36px;
    margin-bottom: 26px;
    color: #1B1B1B;
}
.about-content p {
    color: #5F5F5F;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}





/* service area start */

.service-area {
    padding-bottom: 118px;
}
.single-service img {
    margin-bottom: 20px;
}
.service-title {
    font-size: 18px;
    margin-bottom: 20px;
}
.single-service p {
    color: #7C7C7C;
    line-height: 30px;
    padding: 0 10px;
}
.single-service p {
    color: #7C7C7C;
    line-height: 30px;
    padding: 0 10px;
}



/* project area start */
.project-area {
    padding-bottom: 118px;
}
.area-title h3 {
    font-size: 36px;
    color: #1d1d1d;
}
.project-img {
    margin: 60px 0;
}
.project-img-wrapper img {
    width: 100%;
}