/* google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');



/* default setup */
* {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.fix {
    overflow: hidden;
}
.f-left {
    float: left;
}
.d-none {
    display: none;
}
.container {
    width: 1170px;
    margin: auto;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}

/* columns measurement */
.col-2 {
    width: 16.66%;
    float: left;
    padding: 0 15px;
}
.col-3 {
    width: 25%;
    float: left;
    padding: 0 15px;
}
.col-4 {
    width: 33.33%;
    float: left;
    padding: 0 15px;
}
.col-6 {
    width: 50%;
    float: left;
    padding: 0 15px;
}
.col-8 {
    width: 66.66%;
    float: left;
    padding: 0 15px;
}
.col-10 {
    width: 83.33%;
    float: left;
    padding: 0 15px;
}
.col-12 {
    width: 100%;
    float: left;
    padding: 0 15px;
}

/* common btn */
a.custom-btn {
    font-size: 16px;
    font-weight: 700;
    background: #07B569;
    color: #fff;
    padding: 17px 30px;
    display: inline-block;
}

/* header area start */
.header-area {
    position: absolute;
    left: 0;
    right: 0;
}
.logo h1 a {
    color: #fff;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.nav-item {
    display: flex;
}
.nav-item li {
    margin-left: 32px;
}
.nav-item li a {
    font-size: 14px;
    font-weight: 700;
    color: #fff
}
.menu-area {
    display: flex;
    align-items: center;
}
.menu-area .custom-btn {
    margin-left: 60px;
}
/* header end */


/* hero area */
.hero-text {
    background: url(../image/hero-img/hero1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 260px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text p {
    color: #fff;
    font-size: 54px;
    padding: 0 228px;
    text-align: center;
    line-height: 67px;
}
.hero-text p span {
    font-weight: 700;
}



/* about area */
.about-area {
    padding: 118px 0;
}
.about-img img {
    width: 100%;
}
.about-content h2 {
    font-size: 36px;
    font-weight: 400;
    margin: 35px 0;
    color: #1B1B1B;
}